@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #e31963;
    --white: #fff;
    --black: #17161a;
}

* {
    color: var(--black);
    font-family: "Poppins", serif;
    margin: 0;
}   

body {
    position: relative;
    background-color: var(--white);
}

body::-webkit-scrollbar {
    display: none;
}

/* ============================================== */
#area-tabela {
    width: 70%;
    margin-inline: auto;
    margin-top: 4vh;
}

.table {
    border-color: var(--black);
    border-top: 2px solid var(--black);
}

thead {
    cursor: pointer;
}

.destaque {
    font-style: italic;
    text-decoration: underline;
}

#titulo-tabela {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

#titulo-tabela h4 {
    font-size: 20px;
    margin: 0;
    font-weight: 600;
}

#novoAluno {
    padding-inline: 40px;
}

.btn-outline-primary {
    border-color: var(--primary);
    color: var(--primary);
}
.btn-outline-primary:hover, 
.btn-outline-primary:focus,
.btn-primary,
.btn-primary:focus {
    color: var(--white);
    background-color: var(--primary);
    border: var(--primary);
    outline: none !important;
}
.btn-outline-primary:active, .btn-primary:hover {
    background-color: #b71450 !important;
}

/* ======================================== */
#modalAlunoLabel {
    color: var(--black);
}

#modalAluno {
    margin-top: 8vh;
}

.row {
    margin-top: 10px;
}
input, select {
    outline: none;
    padding: 5px 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    transition: .5s;
}
input:focus, 
select:focus {
    border-color: var(--primary);
}
.form-label {
    margin-bottom: 5px;
    padding: 0;
}

.col {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.col:nth-child(1) {
    margin-right: 10px;
}

select option:focus {
    background-color: var(--primary);
}