@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #e31963;
    --white: #fff;
    --black: #17161a;
}

* {
    color: var(--black);
    font-family: "Poppins", serif;
    margin: 0;
}   

body {
    position: relative;
    background-color: var(--white);
}

#area-tabela {
    width: 70%;
    margin-inline: auto;
    margin-top: 10px;
    border-top: 1px solid var(--black);
}

.table {
    border-color: #17161a;
}

.table caption {
    display: flex;
    flex-direction: row;
} 
